<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <title>Lectures</title>
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">University</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="teachers">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="audiences">Audiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="durations">Durations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="holidays">Holidays</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal-content rounded-6">
    <div class="modal-header">
        <h3 class="title">Lectures:</h3>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Course</th>
            <th>Date</th>
            <th>Room number</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody th:each="lecture: ${page}">
        <tr>
            <td><a th:text="${lecture.getCourse().getName()}"></a></td>
            <td><a th:text="${lecture.getDate()}"></a></td>
            <td><a th:text="${lecture.getAudience().getRoomNumber()}"></a></td>
            <td>
                <a th:text="${lecture.getDuration().getStartTime()}"></a>
                <a> - </a>
                <a th:text="${lecture.getDuration().getEndTime()}"></a>
            </td>
            <td>
                <form th:method="get" th:action="@{/lectures/{id}/get (id=${lecture.getId()})}">
                    <input type="submit" value="View">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <ul th:if="${page.totalPages > 1}" class="pagination pagination-sm">
        <li th:if="${page.hasPrevious()}" class="page-item">
            <a th:href="@{/lectures/teacher/${teacherId} (size=${page.size}, page=${page.number-1})}"
               class="page-link">Previous</a>
        </li>
        <th:block th:each="pageNumber : ${#numbers.sequence(1, page.totalPages)}">
            <li th:if="${pageNumber==page.number + 1}" class="page-item active" aria-current="page">
                <span class="page-link" th:text=${pageNumber}></span>
            </li>
            <li th:unless="${pageNumber==page.number + 1}" class="page-item">
                <a class="page-link"
                   th:href="@{/lectures/teacher/${teacherId} (size=${page.size}, page=${pageNumber-1})}"
                   th:text=${pageNumber}>
                </a>
            </li>
        </th:block>
        <li th:if="${page.hasNext()}" class="page-item">
            <a th:href="@{/lectures/teacher/${teacherId} (size=${page.size}, page=${page.number+1})}"
               class="page-link">Next</a>
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>